package migrations

type {{ .StructureName}} struct{

}

var {{ .PropertyName}} {{.StructureName}}

func (m {{ .StructureName}}) Up(){

}

func (m {{ .StructureName}}) Down(){

}

func (m {{ .StructureName}}) GetName() string{
    return "{{ .PropertyName}}"
}